/* Header and footer
---------------------------------
* #00BFFF - deepskyblue
* #8D99AE - lightblue
* #EDF2F4 - darkcyan
* #EF233C - red
 */

/* Global Styles
 ---------------------------------*/

body {
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 40px;
}

a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

/* Header and footer
---------------------------------*/

header, footer {
  background: #00BFFF;
  color: #EF233C;
}

header h1, header h2 {
  color: yellow;
}

/* Content
---------------------------------*/

.education {
  background: #8D99AE;
}

.experience {
  background: #EDF2F4;
}
